@tailwind base;
@tailwind components;
@tailwind utilities;


.background-image{
  background-image: url('./assets/bg.jpeg');
  background-size: 100% ;
  color: white;
  background-repeat: no-repeat;
}